#cet{
    color:wheat;
    background-color: rgb(51, 42, 42);
    text-align: center;
    margin-right: 10px;
    font-size: 2cm; 
    margin: -0.5cm;
}
#get{
  
  margin-top: 1cm;
}#im{
   width: 2cm;
   margin-bottom: -0.7cm;
}
button{
    line-height: 1.5cm;
    padding: 0.1cm 0.8cm 0.1cm;
    margin-top: 0%;
    background-color: rgb(92, 92, 110);
    font-size: 0.8cm;
}
body{
   background-color: rgb(43, 27, 27);
}
#course{
   color: rgb(135, 214, 214);
   font-size: larger;
  display: inline-block;
}
#img2{
    display: inline-block;
    padding: 2cm 0cm 10cm 0cm;
}
#im1{
    padding: 0cm 2cm 10cm 5cm ;
}
.a{
    font-size: 2cm;
}
#Stacks{

    padding top:2cm 24cm 6cm 6cm  ;
    font-size: 1cm;
}
#para{
    font-size: 1cm;
}
